# <pip install -r requirements.txt>
# Copied from 'sphinx' extra of pyproject.toml
jupyter-book
jupyter_contrib_nbextensions # added on 06 Dec 2023 rph
jupyter # added on 11 dec 2023 rph
jupyterquiz
jupytext
ipywidgets # does not seem to work, instead use bokeh
ipywidgets_bokeh  # added on 12 dec 2023 rph
ipympl # added on 11 Dec 2023
bokeh # added on 07 Dec 2023
networkx # added on 07 Dec 2023
matplotlib
numpy
ghp-import
myst-parser
myst_nb
openpyxl # added 19 Dec 2023
pandas
plotly
scipy
sphinx
sphinx-click
sphinx-examples
sphinx-exercise
sphinx_inline_tabs
sphinx-proof
#sphinxext-rediraffe~=0.2.3
#sympyactivate
sympy
scikit-learn # added on 11 dec 2023 rph
kaleidoscope # added on 11 dec 2023 rph
nodejs # added on 11 dec 2023 rph
# ijavascript # added on 11 dec 2023 rph
# has to be installed via <npm install -g ijavascript>, see
# https://dev.to/worldlinetech/a-guide-to-nodejs-notebooks-410c
